* {
  /* border: 1px solid red; */
}

/* Width 375 */
body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  /* height: 40px; */
}

.bg-hero {
  background-image: url(/assets/bg-hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  width: 90%;
  border-radius: 2px;
}

.injury {
  font-weight: 600;
}

.full-name {
  height: 35px;
  width: 85%;
  border: 1px solid lightgrey;
}

textarea {
  width: 85%;
  margin: 3px;
  border: 1px solid lightgrey;
  font-family: sans-serif;
}

::placeholder {
  color: rgb(154, 154, 154);
  font-size: 0.9rem;
}

.submit {
  background-color: #fe6632;
  color: white;
  border: none;
  height: 3rem;
  width: 87%;
  margin-bottom: 25px;
  font-size: 1.5rem;
  font-weight: 300;
}

.problem-car-container-container {
  display: flex;
  justify-content: center;
}

.problem-car-container {
  background-color: #0177b9;
  width: 90%;
  margin-top: 60px;
}

.problem-car-text {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: 12px;
  font-weight: 400;
}

.product-container {
  display: flex;
  justify-content: center;
}

.product {
  margin: 15px;
  width: 95%;
}

.checkmark-container {
  background-color: #ebebeb;
}

.fas {
  color: #08aade;
  background-color: #ebebeb;
  margin: 8px;
  padding: 8px;
  border-radius: 20px;
}
.checkmark-text {
  font-family: sans-serif;
  display: inline-block;
  margin: 0;
  color: black;
  font-size: 1rem;
  font-weight: 500;
}

.subnote {
  font-size: 0.6rem;
  margin: 3px;
  margin-top: 10px;
  margin-left: 20px;
  color: rgb(160, 160, 160);
}

.page-break {
  margin-top: 50px;
  margin-bottom: 50px;
}

.savings-container-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.savings-container {
  border: solid #cb9e89 1px;
  width: 90%;
  text-align: center;
  margin-top: 10px;
  padding: 10px 0px 20px 0px;
}

.savings-text {
  color: #f0633d;
  text-shadow: 1px 1px lightgrey;
  font-weight: 900;
}

.dollar-text {
  font-size: 2rem;
  font-weight: 100;
  margin: 10px 0px;
}

.savings-break {
  width: 75%;
}

footer {
  background-color: #0177b9;
  padding: 10px;
  margin-top: 60px;
}

.footer-text {
  color: white;
  text-align: center;
  font-weight: 100;
  font-size: 0.7rem;
  margin: 10px 0px 5px 0px;
}

@media screen and (min-width: 768px) {
  /* INCREASE SIZING OF ELEMETS */
}

@media screen and (min-width: 1024px) {
  /* SLIGHTLY INCREASE SIZE OF A FEW MORE ELEMENTS */
}
