* {
  /* border: 1px solid red; */
}

body {
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  /* height: 40px; */
}

.bg-hero {
  background-image: url(/assets/bg-hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  text-align: center;
  width: 90%;
  border-radius: 2px;
}

.injury {
  font-family: sans-serif;
}

.full-name {
  height: 35px;
  width: 85%;
  border: 1px solid lightgrey;
}

textarea {
  width: 85%;
  margin: 2px;
  border: 1px solid lightgrey;
}

.submit {
  background-color: #fe6632;
  color: white;
  border: none;
  height: 2.5rem;
  width: 85%;
  margin-bottom: 25px;
}

.problem-car-container-container {
  display: flex;
  justify-content: center;
}

.problem-car-container {
  background-color: #0177b9;
  width: 90%;
  margin-top: 60px;
}

.problem-car-text {
  color: white;
  font-family: sans-serif;
  text-align: center;
  margin: 4px;
}

.product {
  margin: 15px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  /* INCREASE SIZING OF ELEMETS */
}

@media screen and (min-width: 1024px) {
  /* SLIGHTLY INCREASE SIZE OF A FEW MORE ELEMENTS */
}
